* {
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f5f5f5;
    color: #374151;
    font-size: 14px;
}
#app {
    min-width: 100vh;
}
