.cursor {
    cursor: pointer;
}
.default-shadow__wrapper {
    border-radius: .5rem;
    box-shadow: 0px 0px .9310142993927002px 0px rgba(0, 0, 0, .17), 0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, .08), 0px 7px 14px 0px rgba(0, 0, 0, .05);
}
.leafer-free-board {
    &--root {
        height: 100%;
        width: 100%;
        position: relative;
        user-select: none;
        margin-left: 0px;
        margin-top: 0px;
        pointer-events: auto;
        overflow: hidden;
    }
    &--header {
        // position: absolute;
        // top: 30px;
        // left: 50%;
        background: #ffffff;
        box-sizing: border-box;
        padding: 4px 10px;
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 1rem;
        align-items: flex-start;
        cursor: default;
        width: inherit;
        .icon-block {
            width: 2rem;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            cursor: pointer;
            &.active {
                background: rgba(24, 160, 88, 0.16);
                svg {
                    path {
                        fill: #18a058;
                        stroke: #18a058;
                        stroke-width: 2px;
                    }
                }
            }
            &--undo, &--redo {
                &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
            &--undo:hover, &--redo:hover {
                background: #ffffff;
            }
            &:hover {
                background: #f1f3f5;
            }
        }
        .center {
            display: flex;
            justify-content: center;
            &-tool-bar-wrapper {
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                padding: 5px 12px;
            }
            .icon-block-blank {
                width: 0.5rem;
                aspect-ratio: 1 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &--body {
        height: 100%;
    }
    &--element-attributes {
        position: absolute;
        right: 0px;
        top: 51px;
        width: 306px;
        border-radius: 0.6rem 0 0 0.6rem;
        box-shadow: 0 0 1rem #0000004d;
        background: #ffffff;
        padding: 0.5rem 0.5rem;
        .attribute-item {
            // border-bottom: 1px solid #e5e7eb;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            &__label {
                font-size: 0.75rem;
                font-weight: 700;
                flex-shrink: 0;
            }
            &__font-style {
                .item__icon {
                    margin: 0rem .2rem;
                    border-radius: 0.2rem;
                    padding: 0.1rem 0rem;
                    &.active {
                        background: rgba(24, 160, 88, 0.16);
                        svg {
                            path {
                                fill: #18a058;
                                stroke: #18a058;
                                stroke-width: 2px;
                            }
                        }
                    }
                    &:hover {
                        background: rgba(24, 160, 88, 0.16);
                    }
                }
            }
            &__input {
                margin: 0.5rem 0rem;
            }
            &__flex {
                display: flex;
                align-items: center;
                span {
                    flex-shrink: 0;
                }
            }
            &__zindex {
                margin-top: 0.5rem;
                max-height: 300px;
                overflow-y: auto;
                .zindex-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            &__color-picker-swatches {
                display: grid;
                grid-gap: 8px;
                flex-wrap: wrap;
                position: relative;
                grid-template-columns: repeat(auto-fill, 18px);
                margin: 0.5rem 0rem;
                span {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border-radius: 3px;
                    box-shadow: rgba(0, 0, 0, .15) 0px 0px 0px 1px inset;
                }
            }
            &__options {
                display: flex;
                flex-wrap: wrap;
                .arrow-item__icon {
                    width: 5rem;
                    height: 1.3rem;
                    margin-right: 0.2rem;
                    border: 1px solid #fff;
                    padding: 0.2rem 0.2rem;
                    margin: 2px 6px;
                    border-radius: 0.5rem;
                    &:hover {
                        border-color: #32cd79;
                        cursor: pointer;
                    }
                }
            }
            .stroke-color-picker {
                span {
                    flex: 0 0 18px;
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin: 0 0.2rem;
                    border-radius: 3px;
                    box-shadow: rgba(0, 0, 0, .15) 0px 0px 0px 1px inset;
                }
                .n-color-picker {
                    flex: 0 0 66px;
                }
            }
        }
    }
}

.fade-attr-enter-active, .fade-attr-leave-active {
    transition: all 0.3s ease;
}
.fade-attr-enter-from, .fade-attr-leave-to {
    opacity: 0;
    transform: translateX(10px);
}